<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		  <div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <a class="brand" href="{% url 'home' %}">factlisted</a>
			<div class="nav-collapse collapse">
				{% if user.is_authenticated %}
					<p class="navbar-text pull-right">Logged in as {{ user.username }}</p>
				{% endif %}
				<ul class="nav">
					<li {% if origin == "topics" %}class="active"{% endif %}><a href="{% url 'home' %}">Topics</a></li>
					<li><a href="/">About</a></li>
					<li><a href="mailto:crispybacon@factlisted.com">Contact</a></li>
					{% if user.is_authenticated %}
						<li><a href="{% url 'logout' %}">Logout</a></li>
					{% endif %}
					<!-- <li><a href="/retrospecs/">My Profile</a></li> -->
				</ul>
			</div> <!--/.nav-collapse -->
		</div>
	    </div>
</div>